
<body>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            
            <div class="menu">

                <ul class="nav-links">
                    <li><a routerLink="/Homeadmin/GestionclienteComponent" routerLinkActive="active">gestion clients</a></li>
                    <li><a routerLink="/Homeadmin/GestionprofissionnelComponent">gestion profissionnel</a></li>
                </ul>
            </div>
            
         
            
          
        </div>
    </nav>


</body>
