
<div class="row">
  
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="kk">
          <h3 class="mb-0">liste de domaines</h3>
          <button class="btn btn-primary button " routerLink="/Homeadmin/RegistrationDomaineComponent">ajouter un domaine</button>
        </div>
        <input class="form-control" type="text" placeholder="search" [(ngModel)]="searchText">
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">id</th>
              <th scope="col">nom</th>
              <th scope="col">discription</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let domaine of domaines | search:searchText | paginate:{
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count};  let i =index" class="100">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    {{domaine.id}}
                  </div>
                </div>
              </th>
              <td>
                {{domaine.nom}}
              </td>
              <td>
                {{domaine.discription}}
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <button (click)="deleteDomaine(domaine)" class="btn btn-outline-danger">
                    <i class=" fa fa-solid fa-trash"></i>
                  </button>
                </div>
              </td>
             
            </tr>
            
          </tbody>
        </table>
      </div>
      <div>
        <pagination-controls  
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event) ">
         
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- Dark table -->

